/*  your css code here. If applicable */
caption {
            text-align: center;
            font-weight: bold;
            font-size: 1.5em;
            margin-bottom: 10px;
            
        }
table {
            background-color: yellow;
            border-collapse: collapse;
            width: 100%;
            border: 1px solid black;
        }
th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

